<?xml version="1.0" encoding="UTF-8"?>
<values>
	<!--<URL>https://www.upsrtconline.co.in/user/newuser</URL>-->
	<URL>https://10.243.8.153/sites/ntw/home.html</URL>
	<NUMOFTHREADS>4</NUMOFTHREADS>
	<IPPORT1>http://127.0.0.1:5567/wd/hub</IPPORT1>
	<IPPORT2>http://127.0.0.1:5567/wd/hub</IPPORT2>
	<IPPORT3>http://10.135.158.225:5568/wd/hub</IPPORT3>
	<IPPORT4>http://127.0.0.1:4726/wd/hub</IPPORT4>

	<BROWSER1>GC</BROWSER1>
	<BROWSER2>ANDROIDCHROME</BROWSER2>
	<BROWSER3>FF</BROWSER3>
	<BROWSER4>IE</BROWSER4>
	
	<SELENIUMSERVER>3.6.0</SELENIUMSERVER>
	
	<MASTEREXCELPATH>./TestData/MASTERSHEET.xlsx</MASTEREXCELPATH>
	<TESTDATAEXCELPATH>./TestData/TESTDATA.xlsx</TESTDATAEXCELPATH>

	<IEPortNo>5567</IEPortNo>
	<FFPortNo>5568</FFPortNo>
	<ChromePortNo>5569</ChromePortNo>
	<OperaPortNo>5570</OperaPortNo>
	<ANdroidChromePortNo>4723</ANdroidChromePortNo>

</values>
